rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    match /avatars/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() &&
        request.resource != null &&
        fileName == request.auth.uid + ".jpg";
    }

    match /posts/{familyId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
